/* ETIQUETAS BASE */
* {
	cursor: url(/acervo-srb2-brasil/recursos/ponteiros/normal.png), auto;
	vertical-align: top;
}
a, a:visited, a>div, a>img {
	color: #ffff00;
	cursor: url(/acervo-srb2-brasil/recursos/ponteiros/ligacao.png), auto;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.corpo a[href^="http"] {
	color: lightblue;
}
abbr {
	cursor: url(/acervo-srb2-brasil/recursos/ponteiros/ajuda.gif), auto;
}
blockquote {
	background: linear-gradient(to bottom right, #404080, #252570);
	border-left: 3px solid #c6c6ff;
	display: inline-block;
	margin: 0;
	padding: 1em;
}
body {
	background: url(/acervo-srb2-brasil/recursos/imagens/acervo/fundo.png);
	color: white;
	font-family: Arial;
	font-size: 15px;
	line-height: 1.5;
	margin: auto;
	max-width: 1920px;
}
code, .code {
	background-color: #3e3e84;
}
h2, h3, h4, th {
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}
hr {
	color: #c6c6ff;
}
nav.caixa-simples {
	margin-top: 1em;
	text-align: revert;
}
ol, ul {
	list-style-position: inside;
	margin-left: 1em;
	padding: 0;
}
table {
	border-collapse: collapse;
}
td, th {
	border: 0.1em solid #c6c6ff;
	font-size: 15px;
	padding: 0.5em;
}
th {
	background: linear-gradient(to bottom right, #404080, #252570);
}
/* CONTEINER */
.conteiner {
	margin: 1em 1.5em 0 1.5em;
}
/* PARTE DE CIMA */
.cabecalho {
	background: linear-gradient(to bottom right, red, #4400ff);
	height: 100px;
	margin-top: 1em;
	text-align: center;
}
/* PARTE DO MEIO */
.caixa-simples, .corpo {
	background: linear-gradient(to bottom right, #48007c, #260042);
	border: 0.1em solid #c6c6ff;
}
.corpo {
	margin-top: 1em;
	padding: 1.2em;
}
.corpo>:first-child {
	margin-top: 0;
}
.corpo>:last-child {
	margin-bottom: 0;
}
/* PARTE DE BAIXO */
.caixa-simples {
	overflow: hidden;
	padding: 0.5em 1.3em;
	text-align: center;
}
.caixa-simples img {
	margin: 5px 0;
}
.caixa-simples>p {
	margin: 0;
}
/* FERRAMENTAS */
.caixa-topo {
	display: flex;
	justify-content: space-between;
	text-align: revert;
}
.centralizar-vertical {
	align-items: center;
	display: flex;
	flex-direction: row;
}
.icone-pequeno {
	height: 17px;
}
img.icone-pequeno {
	vertical-align: text-top;
}
.iframe-youtube {
	aspect-ratio: 16 / 9;
	display: flex;
	max-width: 500px;
}
.img-inicio {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}
.informacoes, .informacoes-a {
	float: right;
	margin-bottom: 1em;
	margin-left: 1em;
}
.informacoes img {
	width: 250px;
}
.informacoes-a img {
	width: 150px;
}
.lista {
	display: flex;
	margin-bottom: 1em;
}
.lista>p {
	margin: 0 0 0 1em;
}
/* BOTÕES */
.aviso {
	color: black;
	display: flex;
	padding: 0 1em;
}
.aviso a, .corpo .aviso-erro a[href^="http"], .corpo .aviso-informacao a[href^="http"], .medalha a {
	color: midnightblue;
}
.aviso code {
	background-color: lightgray;
}
.aviso>img, .aviso>p, .download>img, .download>p, .medalha>img, .medalha>p {
	margin-right: 1em;
}
.aviso>p {
	margin: 0.5em 0;
}
.aviso-alerta {
	background: linear-gradient(to bottom right, #ffd39f, #d89e5b);
}
.aviso-erro {
	background: linear-gradient(to bottom right, #c4586a, #c47c58);
}
.aviso-informacao {
	background: linear-gradient(to bottom right, #c6e0fa, #7683fa);
}
.download {
	background: linear-gradient(to bottom right, #d6efc2, #9ec97a);
	color: black;
	flex: 1;
	max-width: 330px;
	padding: 0.5em 1em;
}
.download a[href*="/"], .download a[href*="/"]:hover, .download a[href*="/"]:visited {
	color: #005000;
}
.medalha {
	color: black;
	max-width: 450px;
	padding: 0.5em 1em;
}
.medalha-gov {
	background: linear-gradient(to bottom right, #f7f7a5, #d1d162);
}
.medalha-oc {
	background: linear-gradient(to bottom right, #ce8e61, saddlebrown);
}
.medalha-odp {
	background: linear-gradient(to bottom right, #a5c3f7, #628ad1);
}
.medalha-omc {
	background: linear-gradient(to bottom right, #f7a5a7, #d16264);
}
.medalha-ome {
	background: linear-gradient(to bottom right, #e8e8e8, #8d8d8d);
}
.medalha-omv {
	background: linear-gradient(to bottom right, #e8e8e8, #afafaf);
}
.medalha-ov {
	background: linear-gradient(to bottom right, #c3d5f4, #7b9ace);
}
/* GALERIA */
div.gallery {
	margin: 0.3em;
	border: 0.1em solid #c6c6ff;
	float: left;
	max-width: 250px;
}
div.gallery img {
	width: 100%;
	height: auto;
}
div.desc {
	padding: 0.5em;
	text-align: center;
}
/* CONSULTAS DE MÍDIA */
@media only screen and (max-width: 650px) {
	div.gallery {
		margin: 0.3em 0;
		max-width: 100%;
	}
	nav.caixa-simples {
		text-align: center;
	}
	.caixa-simples {
		padding: 1em;
	}
	.caixa-topo {
		display: revert;
		text-align: center;
	}
	.img-inicio {
		height: auto;
		margin: 0 0 1em 0;
		width: 100%;
	}
	.informacoes, .informacoes-a {
		float: revert;
		margin: 1em 0;
		width: 100%;
	}
	.informacoes img, .informacoes-a img {
		width: 100%;
	}
	.tabela-rolavel {
		overflow-x: auto;
	}
}